PORT=3001
TZ=UTC

PG_DB_URL=postgres://postgres:postgres@0.0.0.0:5432/postgres
REDIS_URL=redis://default:redis@0.0.0.0:6379

# Generate secrets by running `openssl rand -hex 64`
SECRET_AUTH_CODE_VALUE=f4414d972439a3183bdea006b595d346598a8346ae8692599f335f8546e9c0336dc6990c38f4b221db21e00420e19e87073a8c701eb215d76b5ddb183fac9e01
SECRET_AUTH_CODE_VALUE_HASH=b9e8e221625bf9edb05c53a01ca84852d8136d3e14a261f92159db9415bc7110e0a51816b8738810aa3d689bba339bef8965cba4772de023dfd211320145ff9e
SECRET_SESSION=d0b7a3ce974908e6ec61d433cf4ff18afe2b372c65bf59f7561e9e5abc428ee83aebd385261fe4b42f20f02acc8b47035da97a316c7498f66e5f8f7f7af6db70
SESSION_TTL=1209600s # 14 days
SESSION_COOKIE_DOMAIN=localhost

STRIPE_SECRET_KEY=sk_
STRIPE_SIGNING_SECRET_WEBHOOK=whsec_

APP_HOST=localhost:3000
APP_PROTOCOL=http

RESEND_API_KEY=
SMTP_ADDR=0.0.0.0:1025

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=http://localhost:3001/oauth/slack/callback
SLACK_STATUS_BOT_TOKEN=

GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_WEBHOOK_SECRET=
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_REDIRECT_URL=http://localhost:3001/oauth/github/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3001/oauth/google/callback

REPLICATE_API_TOKEN=r8_

AWS_ACCESS_KEY_ID=tid_
AWS_SECRET_ACCESS_KEY=tsec_
